﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Product </h2>
<form id="createProduct">
    <label>Name</label>
    <input name="Name" />

    <br />

    <label>Description</label>
    <input name="Description" />

    <br />

    <label>Price</label>
    <input name="Price" />

    <br />

    <button id="saveBtn" type="button">Save</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'post',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
          .fail(function (XMLHttpRequest, textStatus, ErrorThrown) {
              alert("FAIL");

          });
    });
</script>

